<app-slider></app-slider>
<div class="flex flex-col items-center justify-center mt-[10vh]" >
  <section class="flex flex-row-reverse justify-center items-center gap-1.5">
    <h2 class="text-[20px] bold ">فروش ویژه تا</h2>
    <section class=" text-normal-text flex flex-row-reverse rounded-2xl w-[13.75rem] h-[2.625rem] px-[17px] py-[10px] bg-secender">
      <div class="text-normal-text regular ml-1.5"><span  class="ml-1">8</span>ساعت</div>
      <div class="text-normal-text regular ml-1.5"><span  class="ml-1">16</span>دقیقه</div>
      <div class="text-normal-text regular ml-1.5"><span  class="ml-1">40</span>ثانیه</div>

    </section>
  </section>

  <div class="flex flex-row flex-wrap justify-start gap-2 mt-[36px]" *ngIf=" Post$ | async  as items">
    @for (itemPost of items;track $index){
      <a [routerLink]="'dashboard-post/'+itemPost.name" ><app-post [PostItems]="itemPost"></app-post> </a>
    }
  </div>

</div>
<app-banner-web></app-banner-web>
