<div class="flex flex-col mt-10">
  <section class="flex flex-row-reverse justify-center items-center gap-1.5">
    <h2 class=" bold text-title-text font-semibold">دیگر محصولات شرکت </h2>
  </section>

  <div class=" w-full h-auto py-[1vh] bg-secender  mt-6 flex flex-row-reverse justify-center gap-2 ">
    <img src="assets/Image/ban3.jpg" class="w-[23.5vw] h-[15rem] rounded-2xl  object-cover">
    <img src="assets/Image/ban4.webp" class="w-[23.5vw] h-[15rem] rounded-2xl  object-cover">
    <img src="assets/Image/ban1.webp" class="w-[23.5vw] h-[15rem] rounded-2xl  object-cover">
    <img src="assets/Image/ban2.webp" class="w-[23.5vw] h-[15rem] rounded-2xl  object-cover">
  </div>

</div>
