<div style="background-color: #0c1734" class="regular gap-12 items-center flex flex-row text-white w-full  h-[180px] text-normal-text px-6 pt-12">
  <h2 class="max-w-[300px] regular text-title-text">به خبرنامه ما بپیوندید و برای اولین سفارش خود 100 تومان تخفیف دریافت کنید</h2>
  <section class="w-auto h-auto ml-[6.44vw] items-center flex flex-row gap-2.5">

    <input type="text" class="outline-0 borderbox w-[38.50vw] h-[6.75vh] text-normal-text regular rounded-2xl px-[16px]" placeholder="متن مورد نظر ...">
    <button style="border: 1px solid black" class="hover:text-black hover:bg-secender bg-transparent  text-white min-w-[160px] h-[46px] p-2 regular text-normal-text rounded-2xl">اشتراک گذاری</button>
  </section>

</div>
